<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">
    کد نقش

  </h4>

  <span class="fa fa-times" (click)="close()"></span>
</div>

<div class="modal-body">


  <div class=" rounded  p-2 ">
    <div class="row ">


      <p class="px-1 text-center" style="    font-size: 15px;">
        کد نقش برای خرید کالاهای خاص توسط وزارت صمت تعیین شده است . برای افزودن کد نقش به صفحه ویرایش پروفایل رفته و کد
        نقش را وارد کنید . </p>

    </div>


  </div>


</div>
<div class="modal-footer">
  <button type="button" class="btn1 " (click)="goToEditProfile()">ویرایش پروفایل</button>
</div>

