h1,h2,h3,h4,h5,h6,p,label{
  font-family: 'iran_sans' !important;
}
.btn1{
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #FF4B4B !important;

  border: 1px solid #FF4B4B !important;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}
