<app-main-layout>
  <div class="rtl">
    <div class="container py-3 ">
      <div class="card ">
        <div class="card-header py-2">
          <h2 class="text-center ">همکاری  در تامین کالا</h2>
          <span class="under-line-1"></span>
        </div>
        <div class="card-body">
          <div class="row  d-flex justify-content-between align-items-start ">
            <div class="col-lg-5">
              <div class="address bg-gry  mb-2 d-flex justify-content-start align-items-center p-2 rounded">
                <img class="me-2" src="/assets/images/contactus/address.svg">
                <p class="m-0 p-0 ">
                    دفتر مرکزی: سعادت اباد میدان کاج سرو شرقی پلاک ۱۴۷ طبقه ۵
                </p>
            </div>
            <div class="phone mb-2  bg-gry d-flex justify-content-between align-items-center  p-2 rounded">
                <span> ۰۲۱-۲۲۳۸۱۲۹۲</span>
                <span> | </span>
                <span>۰۲۱-۲۲۳۸۶۸۵۰</span>
                          <img class="me-2"  src="/assets/images/contactus/phone.svg"> 
            </div>
            <div class="phone mb-2 bg-gry d-flex justify-content-between align-items-center  p-2 rounded">
                <span> ۰۲۱-۲۲۰۶۸۱۶۳</span>
                          <span> | </span>
                          <span>۰۲۱-۲۲۳۶۰۴۳۹</span>
                          <span> | </span>
                          <span> ۰۲۱-۲۲۰۶۹۷۴۲</span>
                          <img class="me-2 d-sm-flex d-none"  src="/assets/images/contactus/phone.svg"> 
            </div>
          <section class="sendInfo pt-4 d-flex justify-content-start align-items-start flex-column">
            <form [formGroup]="cooperationFormGroup" class="w-100">
              <h2 class="sendInfo-title ">ارسال اطلاعات</h2>
              <div class="borderButtom ">
                  <hr>
                  <span class="under-line"></span>
              </div>

              <div class=" d-flex align-items-center align-items-center m-1">
                <span class="text-danger mx-1 ">*</span>
                <input type="text" placeholder="نام "  class="form-control" formControlName="firstName">
            </div>

               <div class=" d-flex align-items-center align-items-center m-1 ">
                            <span class="text-danger mx-1 ">*</span>
                            <input type="text" placeholder="نام خانوادگی"  class="form-control" formControlName="lastName">
        
                   </div>




                          <div class=" d-flex align-items-center align-items-center m-1 ">
                            <span class="text-danger mx-1 ">*</span>
                            <textarea type="text" placeholder=" آدرس"  class="form-control" formControlName="address"></textarea>
        
                          </div>

                  <div class=" d-flex align-items-center align-items-center m-1">
                    <span class="text-danger mx-1 ">*</span>
                    <select class="form-control" (change)="onChangeTicketCategory($event)" formControlName="ticketCategory">
                      <option value="" disabled selected>نوع مشتری</option>
                      <option *ngFor="let item of ticketCategory " [value]="item.value">{{item.displayText}}</option>
                    </select>
                  </div>
               
                  <div class=" d-flex align-items-center align-items-center m-1 ">
                    <span class="text-danger mx-1 ">*</span>
                    <input type="text" placeholder="شماره همراه"  numbersOnly minlength="11" class="form-control" formControlName="mobileNumber">
                
                  </div>




                  <div class=" d-flex align-items-center align-items-center m-1 ">
                    <span class="text-danger mx-1 invisible">*</span>
                    <input type="text" placeholder=" ایمیل"  class="form-control" formControlName="lastName">

                  </div>
                  <div class=" d-flex align-items-center align-items-center m-1 ">
                    <span class="text-danger mx-1 ">*</span>
                    <input type="text" placeholder=" نام کالا"  class="form-control" formControlName="productName">

                  </div>
             <div class=" d-flex align-items-center align-items-center m-1 ">
             <span class="text-danger mx-1 ">*</span>
                    <select class="form-control" (change)="onChangeCategory($event)" formControlName="productCategory">
                      <option value="" disabled selected>دسته بندی کالا</option>
                      <option *ngFor="let item of categories " [value]="item.categoryName">{{item.categoryName}}</option>
                    </select>
                  </div>
           
                  <div class=" d-flex align-items-center  align-items-center m-1 ">
                    <span class="text-danger mx-1 invisible ">*</span>
                  <textarea type="text" placeholder=" توضیحات"  class="form-control" formControlName="description"></textarea>

                   </div>
            
                   <div class="my-1 d-flex justify-content-end ">
                    <button  class="btn-accept " (click)="onSubmit()">
                      ارسال
  
                    </button>
                
                  </div>
            </form>
          </section>
           </div>
          <div class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center">
            <img src="/assets/images/cooperation.jpg" style="height:500px;width:500px;">
        </div>
     </div>
            
       
      </div>
    </div>
  </div>
</div>
  <ngx-spinner></ngx-spinner>
</app-main-layout>
