<app-main-layout>
<div class="rtl">
    <div class="container col-md-10 py-3 ">
       <div class="card py-3">
             <div class="card-header">
                 <h2>درباره ما</h2>
                 <span class="under-line"></span>
             </div>
             <div class="card-body">
                  <p>
                    ما در شرکت تامین کالای پیشرو ایرانیان در اپلیکیشن O’tamin توانسته ایم روشی نوین برای بازاریابی و فروش آنلاین به صورت عمده معرفی کنیم که بتواند نیاز واحدهای تولیدی برای فروش را به صورت سریع، گسترده، مویرگی و کم هزینه رفع کند، چرا که در بازار رقابتی امروز و دنیای شگفت انگیز ما net working، بدون شک سازمانهایی موفق اند که نگاه عمیقی به خلاقیت ، نوآوری و چابکی داشته و همواره در مقابل تغییرات محیطی ، گامی منعطف، استوار و هوشمندانه را بردارند.
                  </p>
                 <ul>
                      <li>
                          <h3>این اپلیکیشن قابلیتهای زیادی از جمله:</h3>
                    </li>
                      <li>
                        <span><img src="/assets/icons/list/list.svg"></span>امکان سفارشگذاری و سفارشگیری مستقیم توسط خریدارها و فروشندهها در پنلهای اختصاصی خود
                      </li>
                      <li>
                        <span><img src="/assets/icons/list/list.svg"></span>دریافت وجه به روشهای درگاه اینترنتی ، پرداخت هنگام تحویل و یا اعتباری (با قابلیت اعتبارسنجی چکهای دریافتی از مشتریان به صورت آنی) مستقیم به حساب شرکت شما
                    </li>
                      <li>
                        <span><img src="/assets/icons/list/list.svg"></span> امکان رصد لحظهای تحویل کالا و ایجاد جشنوارههای فروش محصولات مختلف را دارا می باشد
                    </li>

                 </ul>
               <br>
               <ul>
                      <li>
                          <h3>از دیگر مزایای استفاده از اُتامین برای مجموعه شما می توان :</h3>
                    </li>
                      <li>
                        <span class="mx-10"><img src="/assets/icons/list/list.svg"></span>
                        به گستردگی در سفارشگیری                      </li>
                      <li>
                        <span><img src="/assets/icons/list/list.svg"></span>
                        کاهش هزینه های بازاریابی
                    </li>
                      <li>
                        <span><img src="/assets/icons/list/list.svg"></span>
                        رصد لحظه ای سفارشات                    </li>
                 <li>
                        <span><img src="/assets/icons/list/list.svg"></span>
                    در دسترس بودن و مدیریت بهتر پخش کالا نام برد                  </li>

                 </ul>
                 <p>
                   قابلیت‌ها و مزایای استفاده از این اپلیکیشن، نتیجه استراتژی مدیریت این شرکت است که سعی دارد با خلق بیشترین مزیت برای کلیه فروشگاهها و تامین رضایت حداکثری آنها موفقیت خود را با بهره گیری از روش‌های کارآمد ، محصولات با اصالت و ﺑﺎ ﮐﯿﻔﯿﺖ ﺑﺎﻻ در اﺧﺘﯿﺎر خریداران ﺧﻮد به صورت عمده ﻗﺮار دﻫﺪ.


                 </p>
                 <article>
                     <h3>ارزش ها </h3>
                     <p>
                       این سایت و اپلیکیشن با تمرکز بر رفع نیازهای فروشگاههای سراسر کشور روش نوینی را برای بازاریابی و فروش آنلاین به صورت عمده معرفی می کند که می‌تواند نیاز بسیاری از واحدهای تولیدی برای فروش را به صورت سریع، گسترده و کم هزینه رفع کند و‌ در نتیجه نیاز فروشگاهها به ارتباط با تعدد زیاد بازاریابان را از بین برده و امکان سفارش لحظه ای همه کالاهای مورد نیاز خود را از تمامی تامین کنندگان تنها با استفاده از یک مرجع یعنی اپلیکیشن O’tamin (تامین کننده کالای پیشرو ایرانیان) فراهم می سازد. تامین کنندگان شامل شرکت های تولیدی، واردکنندگان و شرکت های پخش می‌شوند.

                     </p>

                 </article>
                 <article>
                    <h3>ماموریت
                    </h3>
                    <p>
                      مهمترین ماموریت این سایت و اپلیکیشن این است که با اهدافی نو و آرمان گرایانه و منحصر بفرد پا به عرصه تجارت دیجیتال نهاده است و تلاشمان این است که در این مسیر استوار و ثابت قدم باقی بمانیم چرا یکی از مهمترین اصول ما پیش بینی اولویت‌های فروشگاهها و تامین کنندگان کالا در کوتاهترین زمان و فراتر رفتن از انتظارات آنها است.



                    </p>

                </article>
             </div>
       </div>
    </div>
    </div>
</app-main-layout>
