<app-main-layout>
    <!-- <div class="rtl"> -->
        <div class="container py-4">
            <div class="row">

<div class="col-md-3 py-3">
    <div class="menu">
        <div class="card">
            <div class="card-header">
                <figure>
                     <img src="/assets/images/panel/icons/user-menu-drop-down.svg">
                     <div>
                        <span>{{currentUser.firstName + ' '+ currentUser.lastName }} </span>
                        <span>{{currentUser.mobileNumber}}</span>
                     </div>
                </figure>
            </div>
                <div class="card-body p-2">
                    <ul class="m-0 p-0">
                        <li>

                            <a routerLink="/user-panel/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                <img src="/assets/images/panel/icons/1.svg">
                                <span class="mx-3">داشبورد</span>
                            </a>
                        </li>
                        <li *ngIf="currentUser.cusromerTypes == 1">
  
                            <a routerLink="/user-panel/my-store" routerLinkActive="active">
                                <img src="/assets/images/panel/icons/9.svg">
                                <span class="mx-3">فروشگاه های من</span>
                            </a>
                        </li>
                        <li *ngIf="currentUser.cusromerTypes == 2">
  
                            <a routerLink="/user-panel/my-address" routerLinkActive="active">
                                <img src="/assets/images/panel/icons/9.svg">
                                <span class="mx-3">آدرس های من</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/user-panel/factor-unpaid']" routerLinkActive="active" >
                            <img src="/assets/images/panel/icons/5.svg">
  
                              <span class="mx-3">فاکتور های پرداخت نشده</span>
                            </a>
                        </li>
                        <li>
  
                            <a [routerLink]="['/user-panel/order-list']" routerLinkActive="active">
                                <img src="/assets/images/panel/icons/6.svg">
                              <span class="mx-3"> سفارشات</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/user-panel/edit-profile']" routerLinkActive="active">
                             <img src="/assets/images/panel/icons/8.svg">
  
                               <span class="mx-3">ویرایش پروفایل</span>
  
                            </a>
                        </li>
                        <li>
  
                            <a routerLink="/cart">
                                <img src="/assets/images/panel/icons/2.svg">
                                <span class="mx-3">سبد خرید</span>
                            </a>
                        </li>
                        <li>
  
                            <a>
                                <img src="/assets/images/panel/icons/3.svg">
                                 <span class="mx-3">کیف پول</span>
                            </a>
                        </li>
                        <li>
  
                            <a>
                                <img src="/assets/images/panel/icons/4.svg">
                               <span class="mx-3">جوایز</span>
                            </a>
                        </li>
  
                        <li>
                            <a>
                            <img src="/assets/images/panel/icons/7.svg">
  
                                <span class="mx-3">پشتیبانی</span>
                            </a>
                        </li>
  
                    </ul>
                </div>
  
        </div>
    </div>
  </div>
  <div class="col-md-8 pt-3">
    <router-outlet></router-outlet>
  </div>
  
               
              
  
            </div>
        </div>
    <!-- </div> -->
  </app-main-layout>
  