.modal-body {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}
textarea {
  border: 1px #c5c1c1 solid !important;
}
.modal-header {
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column !important;
}
.modal-footer {
  justify-content: center !important;
}
