

.container{
    max-width: 100%;
    margin: 0px auto;
}
.p-name {
  font-family: iran_sans;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
.old-price{
  text-decoration: line-through;
  color: #c0c2c5;
}
.show-offer{
  padding: 1px 5px 1px 5px;
  border-radius: 12px;
  background-color: #ff4b4b;
  color: #fff;
  font-size: 10px;
  font-weight: normal !important;
  font-family: iran_sans !important;
}
.color_link {
  color: rgb(23, 70, 197) !important;
  /* background: white; */
  font-weight: bolder;
  padding: 0px;
}

.color_link:visited {
  color: rgb(0, 30, 128);
}

.color_link:hover {
  color: rgb(104, 19, 216) !important;
  font-weight: bolder;
}

.color_link:active {
  color: rgb(16, 68, 151);
}
span,p,h1,h2{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'iran_sans';
}
.filters{
    .card{
    border-radius: 10px;

        ul{

            li{
                margin: 10px 0px;
                list-style: none;
                font-size: 15px;
                cursor: pointer;
                &:hover{
                    color: #FF4B4B;

                }
            }
        }
    }
    .card-header{
            background-color: #fff;
            border-bottom: 1px solid #ccc;
            color: #FF4B4B;
    }
    input{
        border-radius: 9px;
        &:focus{
            outline: none;
            box-shadow: none;
        }
    }
}

.filter-selected{
    .card-header{
      span.delete{
       cursor: pointer;

      }
    }
    .card-body{
        ul{
            display: flex;
            flex-wrap: wrap;
            li{
                border: 1px solid #efefef;
                box-shadow: 0px 0px 2px #ccc;
                padding: 6px;
                border-radius: 9px;
                margin:5px;
                cursor: unset;
                img{
                    width: 10px;
                    height: 10px;
                    cursor: pointer;
                }
              
            }
        }
    }
}
.btn-filter{
    background-color: #EF1A1A;
    margin: 5px;
    color: white;
    border-radius: 8px;
    padding: 7px 10px;
    font-size: 15px;
    width: 265px;
    height: 52px;
}
.btn-basket{
    border-radius: 10px;
    background-color: #eb3752!important;
    font-size: 14px;
    position: relative;
    top: 100px;
    transition: all 400ms linear;

}
.stop-selling-parent{
    position: relative;
    
}
.product-list{
    // border-radius: 10px;
    ul li{
            width: 210px;
            box-shadow: 0px 0px 2px rgb(138, 136, 136);
            margin: 5px;
            border-radius: 10px;
            transition: all 300ms linear;
            overflow: hidden;
            cursor: pointer;
            &:hover{
                box-shadow: 0px 0px 2px #000;
                .btn-basket{
                  top: 0px;
                }
                &:hover{ 
                    box-shadow: 0px 0px 9px #afaeae;
                    font-weight: bolder;
                    transform:  translateY(10px);
                     transform:  scale(1.01);
                   }
            }
         
            img{
                width: 200px;
                height: 220px;
                object-fit: contain;
            }
            span{
                font-size: 14px;
                margin: 5px auto;
                white-space: nowrap;
            }
            span.price{
              color: #0b9c60;
              height: 28px;
            }


        }
    }

.advance-filter{
    display: none;
}
.close-icon-container{
    display: none;
}
@media screen and (max-width:576px){
  .btn-filter {
    width: 100% !important;
  }
    .show-search{
        right: 0vw!important;
    }
    .btn-basket{
     top: 0px;

    }
    .filters{
        position: fixed;
        z-index: 20;
        width: 100%;
        right: -100vw;
        height: 100vh;
        top: 0px;
        overflow-y: auto;
        background-color: rgba(0,0,0,0.5);
        transition: all 300ms linear;
    }
    .advance-filter{
        display: block;
    }
    .close-icon-container{
            display: flex;
            justify-content: flex-end;
    }
    .close-btn{
        color: #fff;
        margin: 20px;
        width: 20px;
    }
}
.selling-stop{
    position: absolute;
    top: 13px;
    left: -9px;
    background-color: #ec3d7e;
    color: #fff;
    padding: 4px;
    transform: rotate(
-45deg
);
}
@media screen and (min-width:576px) and (max-width:768px){
    .show-search{
        right: 0vw!important;
    }
    .btn-basket{
     top: 0px;

    }
    .filters{
        position: fixed;
        z-index: 20;
        max-width: 100%;
        flex: unset;
        right: -100vw;
        height: 100vh;
        top: 0px;
        overflow-y: auto;
        background-color: rgba(0,0,0,0.5);
        transition: all 300ms linear;
    }
    .advance-filter{
        display: block;
    }
    .close-icon-container{
            display: flex;
            justify-content: flex-end;
    }
    .close-btn{
        color: #fff;
        margin: 20px;
        width: 20px;
    }
    // .product-list{
    //    max-width: 100%;
    //    flex: unset;
    //     li{
    //         max-width: 50%;
    //         flex: unset;
    //     }
    // }
  }
