<app-main-layout>
<div class="rtl">
<!-- <img src="/assets/images/help.jpg"> -->
<div class="container py-3">
    <div class="card">
        <div class="card-body">
          <h2>راهنمای خرید از اُتامین</h2>
          <div class="description">
               <p>
                برای خرید از اُتامین شما می بایست طبق مراحل زیر اقدام کنید.  به صورت کلی ۶ مرحله در طی این روند وجود دارد که از ثبت نام 
                الی ارسال کالای خریداری شده ادامه پیدا میکند. یک کاربر سایت میبایست تمامی این مراحل را به ترتیب طی کند که خرید  کامل 
                و برای وی ارسال شود. 
               </p>
          </div>
          <div class="steps desktop">
               <section class="step1">
                    <div class="title">
                         <span class="item">
                             <span class="number1">1</span>
                             <span class="mx-2"> ثبت نام</span>
                         </span>
                         
                        <img src="/assets/images/shopping-guide/line.svg">
                    </div>
                    <div class="box mx-4">
                        <img src="/assets/images/shopping-guide/1.svg" class="icon">
                        <img src="/assets/images/shopping-guide/box1.svg">

                    </div>
                  <p>
                    شما از طریق کلیک بر روی این <a routerLink="/auth">لینک</a> بـه راحتــــی
                    میتوانید با شماره همراه خود در سایت اتامین ثبت
                   .نام کنید
                  </p>
               </section>
               <section class="step1 left-side">
                   <p class="title">بعد از انجام ثبت نام و  ورود به پنل کاربری خود 
                    شما میبایست طبق فرم مشخص شده اقدام به 
                    تکمیل اطلاعات خود نمایید.</p>
               
               <div class="box mx-4">
                   <img src="/assets/images/shopping-guide/2.svg" class="icon">
                   <img src="/assets/images/shopping-guide/box2.svg">

               </div>
               <div class="title">
                
                
               <img src="/assets/images/shopping-guide/line.svg" class="rotate">
               <span class="item">
                    <span class="number2 ">2</span>
                    <span class="mx-2"> تکمیل اطلاعات</span>
                </span>
           </div>
          </section>
          <section class="step1">
                    <div class="title">
                         <span class="item">
                             <span class="number3">3</span>
                             <span class="mx-2"> انتخاب کالا</span>
                         </span>
                         
                        <img src="/assets/images/shopping-guide/line.svg">
                    </div>
                    <div class="box mx-4">
                        <img src="/assets/images/shopping-guide/3.svg" class="icon">
                        <img src="/assets/images/shopping-guide/box3.svg">

                    </div>
                  <p>
                    کاربر می تواند از بین برندهای مختلف محصــول 
                    مورد نظر را انتخاب نموده و فقط نسبت به خرید
                    اقدام نماید.
                  </p>
               </section>
               <section class="step1 left-side">
                <p class="title">
                    کاربر بعد از ثبت نهایی لیست خرید خود مبلغ 
قابل پرداخت را بصورت نقدی و یا چک با شرایط
فروشگاه پرداخت نماید.
                </p>
            
            <div class="box mx-4">
                <img src="/assets/images/shopping-guide/4.svg" class="icon">
                <img src="/assets/images/shopping-guide/box4.svg">

            </div>
            <div class="title">
             
             
            <img src="/assets/images/shopping-guide/line.svg" class="rotate">
            <span class="item">
                 <span class="number4 ">4</span>
                 <span class="mx-2"> تسویه</span>
             </span>
        </div>
       </section>
       <section class="step1">
        <div class="title confirm">
             <span class="item ">
                 <span class="number5">5</span>
                 <span class="mx-2"> تایید نهایی </span>
             </span>
             
            <img src="/assets/images/shopping-guide/line.svg">
        </div>
        <div class="box mx-4">
            <img src="/assets/images/shopping-guide/5.svg" class="icon">
            <img src="/assets/images/shopping-guide/box5.svg">

        </div>
      <p>
        کاربرد بعد از پرداخت و تایید نهایی کد پیگیری 
        دریافت میکند و در صف ارسال کالا قرار میگیرد. 
      </p>
   </section>
   <section class="step1 left-side">
    <p class="title">کاربر بعد از مرحله تایید نهایی محصول با توجه
        به شرایط سفارش شما در حداکثر ۷۲ ساعت برای 
        شما ارسال میشود. </p>

<div class="box mx-4 final">
    <img src="/assets/images/shopping-guide/6.svg" class="icon">
    <img src="/assets/images/shopping-guide/box6.svg">

</div>
<div class="title">
 
 
<img src="/assets/images/shopping-guide/line.svg" class="rotate">
<span class="item">
     <span class="number6 ">6</span>
     <span class="mx-2"> ارسال کالا </span>
 </span>
</div>
</section>
          </div>
          <div class="steps mobile">
            <section class="step1">
                <div class="title">
                     <span class="item">
                         <span class="number1">1</span>
                         <span class="mx-2"> ثبت نام</span>
                     </span>
                     
                    
                </div>
                <img src="/assets/images/shopping-guide/line.svg">
              <p>
                شما از طریق کلیک بر روی این <a routerLink="/auth">لینک</a> بـه راحتــــی
                میتوانید با شماره همراه خود در سایت اتامین ثبت
               .نام کنید
              </p>
           </section>
           <section class="step1">
            <div class="title">
                 <span class="item">
                     <span class="number2">2</span>
                     <span class="mx-2"> تکمیل اطلاعات
                    </span>
                 </span>
                 
              
            </div>
            <img src="/assets/images/shopping-guide/line.svg">
          <p>
            بعد از انجام ثبت نام و ورود به پنل کاربری خود شما میبایست طبق فرم مشخص شده اقدام به تکمیل اطلاعات خود نمایید.


          </p>
       </section>
       <section class="step1">
        <div class="title">
             <span class="item">
                 <span class="number3">3</span>
                 <span class="mx-2"> انتخاب کالا

                </span>
             </span>
             
         
        </div>
        <img src="/assets/images/shopping-guide/line.svg">
      <p>
        کاربر می تواند از بین برندهای متخلف محصــول مورد نظر را انتخاب نموده و فقط نسبت به خرید اقدام نماید.




      </p>
   </section>
   <section class="step1">
    <div class="title">
         <span class="item">
             <span class="number4">4</span>
             <span class="mx-2"> تسویه

            </span>
         </span>
         
    </div>
    <img src="/assets/images/shopping-guide/line.svg">
    
  <p>کاربر بعد از ثبت نهایی لیست خرید خود مبلغ قابل پرداخت را بصورت نقدی و یا چک با شرایط فروشگاه پرداخت نماید.





  </p>
</section>
<section class="step1">
    <div class="title">
         <span class="item">
             <span class="number5">5</span>
             <span class="mx-2"> تایید نهایی


            </span>
         </span>
         
     
    </div>
    <img src="/assets/images/shopping-guide/line.svg" >
  <p>


    کاربرد بعد از پرداخت و تایید نهایی کد پیگیری دریافت میکند و در صف ارسال کالا قرار میگیرد.




  </p>
</section>
<section class="step1">
    <div class="title">
         <span class="item">
             <span class="number6">6</span>
             <span class="mx-2"> ارسال کالا


            </span>
         </span>
         
      
    </div>
    <img src="/assets/images/shopping-guide/line.svg">
    <p>کاربر بعد از مرحله تایید نهایی محصول با توجه
        به شرایط سفارش شما در حداکثر ۷۲ ساعت برای 
        شما ارسال میشود. </p>
    
</section>
    






</div>
</div>
</div>
</div>
</div>
</app-main-layout>
