<app-main-layout>
  <div class="rtl">
    <div class="container py-3">
      <form [formGroup]="searchGroup">
        <div class="row">
          <div class="search-supplier">
            <input type="text" class="form-control" formControlName="searchInput" placeholder="جستجو در بین تامین کنندگان">
            <img src="/assets/icons/header/search.svg" (click)="searchSupplier()">
          </div>

        </div>
      </form>
    </div>
    <div class="container my-3">
      <div *ngIf="!suppliersList?.length" style="       display: flex;
    height: 300px;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}">

        <i class="fas fa-exclamation-triangle fa-lg my-2" style="color: red"></i>
        <h4 style="color: #780d0d87;text-align: center ; font-family: 'byekan-bold' !important;"> نتیجه ای یافت
          نشد </h4>

      </div>
      <div class="row">
        <a [routerLink]="'/supplier/supplier-detail/'+item.customerId" class="supplier-item "
           *ngFor="let item of suppliersList | paginate: { itemsPerPage: 30,currentPage: q,totalItems: totalCount}">
          <figure><img
            src="{{item.logoUrl?item.logoUrl:'assets/images/default.png'}}">

          </figure>
          <span>{{item.supplierTitle}}</span>
        </a>

      </div>
      <pagination-controls *ngIf="totalCount" class="d-flex justify-content-center"
                           (pageChange)="pageChanged($event)"
                           directionLinks="true"
                           autoHide="true"
                           responsive="true"
                           previousLabel="صفحه قبل"
                           nextLabel="صفحه بعد"></pagination-controls>
    </div>
  </div>
  <ngx-spinner></ngx-spinner>
</app-main-layout>
