.container{
    overflow-x: auto;
}
.table{
    background-color: #fff;
}
th,td{
    text-align: center;
}
.title{
    // font-family: 'iran_sans_bold';
    font-family: 'byekan-bold';

    background-color: #ffe19e;
    padding: 5px 10px;
    border-radius: 5px;
}
.nav-tabs{
  a{
      color: #FE3E3E;
  }
}